<div class="main-content">
    <div class="header-content">

        <!-- Logo content -->
        <div class="logo-content">
            <img src="../assets/images/addressbook.jpeg" alt="Logo">
            <div class="address-book-text">
                <span class="address-text">ADDRESS</span>
                <span class="book-text">BOOK</span>  
            </div>
        </div>

        <div class="header-details">
            <u> AddressBook UI/UX Design </u>
        </div>

    </div>
</div>